
html {
  scroll-behavior: smooth;
}



body {
  
  background-color:#161623; 
  
 
/* background-image: url("https://previews.123rf.com/images/photografspb/photografspb1707/photografspb170700475/83210545-green-grass-background-texture-pattern-very-high-resolution-dark-vignette.jpg"); */
min-height: 100vh; 

min-width: 100vw; 
background-size: cover;
overflow-x:hidden;
overflow-y: inherit;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  

  
} 

.header{
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px; 
  height: 16.5vh;
  background-color: rgba(255, 255, 255, 0.1);
  /* padding: 20px 100px; */
  /* backdrop-filter: blur(6px);  */
  box-shadow: 20px 20px 50px rgb(0, 0, 0 , 0.5); 
  
  border-bottom: 1px solid rgb(255, 255, 255, 0.5);
  border-radius: 2px;
  backdrop-filter: blur(6px);

} 

.navLogo{
  width: 130px;
  height: 100px;
} 

.menu{
  display: flex; 
  padding-right: 24px; 
  justify-content: center;
  align-items: center;

}

.menu > li {
  list-style-type: none; 
  margin: 16px; 
 
  cursor: pointer;
 font-size: 22px; 
 color: rgb(3, 184, 3);
}  


.menu > li:hover{
   
 color: rgb(222, 148, 10);
border-bottom: rgb(189, 140, 7) solid 1px; 
  scale: 110px; 
  transform: scale(1.1);
  transition-duration: 400ms;
} 

/* hover:scale-110 duration-500 */


/* Body */  

label{
  color: orangered; 
  padding-right: 10px; 
  font-size: 25px; 
  text-align: center  ;
  
} 

.resContainer{
  height: auto;
  width: auto;
  
 
} 


.SearchContainer{
  margin-top: 20px;
  width: 60vw;
  margin-left: 90px;
  padding-top:20px ;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: row;
}


.SearchBar{
  outline: none; 
  padding: 2px; 
  width: 200px; 
  height: 28px; 
  font-size: 16px;
  font-family: roboto;
  background-color: lightgray;
  border: none; 
  border-radius: 6px;
  margin-left: 10px;
  padding: 5px;
} 


.SearchBar:hover{
  border: 1px red solid;
}


/* ReCard */ 

.cardContainer{

  margin-top: 40px;
  /* border: 2px solid white; */
  /* height: 100vh;
  width: 100vw; */
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
}

.card{
  width: 290px;
  height: 380px;
  cursor: pointer;
  display: flex; 
  align-items: center; 
  justify-content: center;
  flex-direction: column;
} 

.card:hover{
  /* border: red solid 1px; */
  border-radius: 5px;
  transform: scale(0.92);
  transition-duration: 400ms;
  cursor: pointer;
}

.imgContainer{
width: 263px;
height: 182px;
padding: 10px;

  /* position: relative; */

border-radius: 18px;
filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
} 

.cardImg{
  width: 100%; 
  height: 100%;
  border-radius: 16px;
}




/* position: relative;
width: 100%;
height: 100%;
border-radius: 16px;
overflow: hidden;
filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px); */

.detailsContainer{
 width: 263px;
  height: 182px;
  padding: 10px;
  margin-top: 5PX;

 
  
}

.name{
  font-family: Basis_Grotesque_Pro_Bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color:rgba(236, 240, 246, 0.75);
overflow: hidden;
} 

.rating{
  color:rgba(236, 240, 246, 0.75);
} 

.rating >span {
  color: rgb(65, 242, 65);
}

.dishes{
  color:rgba(236, 240, 246, 0.75);
  word-wrap: break-word;

} 

.cuisines{
  color: red;
  font-size: small;
}

.filterButton{
  margin-left: 15px;
  height: 32px;
  width: 180px;
  text-align: center;
  border-radius: 10px;
  outline: none;
  border: 1px solid white;
  background: #161623;
  color: rgb(109, 249, 109);
} 
.filterButton:hover{
  border: 2px orange solid;
  /* transform: scale(0.92);
  transition-duration: 400ms; */
  cursor: pointer;

 
 
} 

.container{
  margin-top: 50px;
  /* border: 2px solid white; */
  /* height: 100vh;
  width: 100vw; */
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;

} 
.shimmerCard{
  padding-top: 40px;
width: 263px;
height: 182px;
margin: 15px;
background-color: rgb(103, 102, 102);

border-radius: 10px;


} 

.Searchbar{
  
  
  background-color: rgb(103, 102, 102);
  padding: 2px; 
  width: 200px; 
  height: 29px; 
  margin-left: 80px;
  padding: 5px;
  margin-top: 40px;
  border-radius: 6px;
} 

.loginButton{
  width: 100px;
  height: 30px;
  background-color: transparent;
  border: 1px solid white; 
  cursor: pointer; 
  color: rgb(11, 212, 11); 
  border-radius:6px;
  outline: none;
  font-size: 14px;
  font-weight: bold;

} 

.loginButton:hover{
  border: 1px orange solid;
  color: orange;
  
} 


.SearchButton{
  
  width: 100px; 
  height: 28px; 
  border-radius: 6px;
  border: none;
  margin: 10px;
  background-color: rgb(5, 174, 5);
  color: black;
  font-size: medium;
  cursor: pointer;
  
}

.SearchButton:hover{
  border: 2px solid orange;
}
